[Desktop Entry]
Name=Curls on Green
Name[ar]=الظفائر الخضراء
Name[bg]=Зелени букли
Name[bn_IN]=সবুজের ঘূর্ণি
Name[ca]=Rínxols en verd
Name[de]=Grün gezwirbelt
Name[el]=Μπούκλες σε πράσινο
Name[eo]=Bukloj sur verda
Name[es]=Rizos en verde
Name[et]=Lokid aasal
Name[fi]=Vihreät kutrit
Name[fr]=Courbes végétales
Name[fy]=Curls op grien
Name[gl]=Curvas no Green
Name[gu]=લીલા વમળો
Name[hu]=Zöld fodrok
Name[it]=Riccioli su verde
Name[ja]=緑のカール
Name[km]=ខ្សែកោង​បៃតង
Name[ko]=녹색 휘어짐
Name[ku]=Keska Tewiyayî
Name[lv]=Zaļās sprogas
Name[mk]=Зелени прамени
Name[ml]=പച്ചച്ചുരുളുകള്‍
Name[nds]=Gröön Locken
Name[nn]=Krøllar på grønt
Name[pl]=Zawijasy na zielonym
Name[pt]=Caracóis sobre Verde
Name[pt_BR]=Espirais em Verde
Name[ro]=Bucle pe verde
Name[ru]=Завитки на зелёном
Name[sl]=Kodri na zelenem
Name[sr]=Локнице у зеленилу
Name[sr@latin]=Loknice u zelenilu
Name[sv]=Gröna krökningar
Name[th]=เกลียวสีเขียว
Name[tr]=Yeşil Üzerinde Kıvrımlar
Name[uk]=Завитки на зеленому
Name[wa]=Croles sol vete
Name[x-test]=xxCurls on Greenxx
Name[zh_CN]=绿色卷曲
X-KDE-PluginInfo-Name=Curls_on_Green
X-KDE-PluginInfo-Author=Joseph Connors
X-KDE-PluginInfo-Email=josephconnors@usa.net
X-KDE-PluginInfo-License=LGPLv3
