[Desktop Entry]
Name=EOS
Name[bg]=ЕОС
Name[mk]=Еос
Name[ml]=ഈഓസ്
Name[sr]=ЕОС
Name[th]=ลวดลาย EOS ที่พริ้วไหว
Name[tr]=Dalgalı mavi
Name[x-test]=xxEOSxx
X-KDE-PluginInfo-Name=EOS
X-KDE-PluginInfo-Author=Vlad Gerasimov
X-KDE-PluginInfo-Email=vladstudio@gmail.com
X-KDE-PluginInfo-License=LGPLv3
