[Desktop Entry]
Name=Code Poets Dream
Name[ar]=رمز حلم الشعراء
Name[ca]=Somni dels poetes de codi
Name[de]=Herbsttraum
Name[el]=Όνειρο ποιητών κώδικα
Name[eo]=Kodo pri kiu poetoj sonĝas
Name[es]=Sueño de poetas de código
Name[et]=Koodipoeedi unistus
Name[fi]=Koodirunoilijan uni
Name[fr]=Le rêve du poète codeur
Name[fy]=De koade fan in dichtersdream
Name[gl]=O soño dos poetas do código
Name[gu]=કોડ કવિ સ્વપ્ન
Name[hu]=Álmodó guruk
Name[it]=Sogno dei poeti del codice
Name[ja]=コード書き詩人の夢
Name[km]=សុបិន​របស់​កវីនិពន្ធ
Name[ko]=코드 시인의 꿈
Name[ku]=Xewna Helbestên Kodî
Name[lv]=Koda dzejnieka sapnis
Name[mk]=Сонот на поетите на код
Name[ml]=കോഡ് കവിയുടെ സ്വപ്നം
Name[nds]=Kodeschriever sien Droom
Name[nn]=Kodepoetens draum
Name[pt]=Sonho dos Poetas de Código
Name[pt_BR]="Dream" por "Code Poet"
Name[ru]=Мечта поэтов кода
Name[sl]=Sanje kodnega pesnika
Name[sr]=Кодопесников санак
Name[sr@latin]=Kodopesnikov sanak
Name[sv]=Kodpoetens dröm
Name[th]=ความฝันแห่งรหัสกวี
Name[tr]=Code Poet'in Hayali
Name[uk]=Мрія поетів коду
Name[wa]=Sondje des arimeus d' côde
Name[x-test]=xxCode Poets Dreamxx
Name[zh_CN]=诗梦
X-KDE-PluginInfo-Name=Code_Poets_Dream
X-KDE-PluginInfo-Author=Code Poet
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
