[Desktop Entry]
Name=Flower Drops
Name[ar]=قطرات زهره
Name[bg]=Цветя
Name[bn_IN]=ফুলের ছোঁয়া
Name[ca]=Gotes de flor
Name[csb]=Kwiôtczi
Name[de]=Blumentropfen
Name[es]=Flores
Name[et]=Õieebemed
Name[fr]=Pluie de fleurs
Name[fy]=Blomme druppen
Name[gl]=Pingas nas flores
Name[gu]=ફૂલ પત્તીઓ
Name[hu]=Szirmok
Name[it]=Gocce del fiore
Name[ja]=花の水滴
Name[km]=ទម្លាក់ផ្កា
Name[ko]=꽃 망울
Name[lv]=Krītošie ziedi
Name[mk]=Цветна роса
Name[ml]=പൂത്തുള്ളികള്‍
Name[nds]=Blomen
Name[nn]=Blomedropar
Name[pt]=Pingos em Flores
Name[pt_BR]=Gotas em flores
Name[ru]=Капли на цветах
Name[sl]=Kapljice z rožo
Name[sr]=Цветне капљице
Name[sr@latin]=Cvetne kapljice
Name[sv]=Blomdroppar
Name[th]=ดอกไม้ร่วงหล่น
Name[tr]=Çiçek Damlaları
Name[uk]=Краплі роси на квітах
Name[wa]=Tipaedje di fleurs
Name[x-test]=xxFlower Dropsxx
Name[zh_CN]=花落

X-KDE-PluginInfo-Name=Flower_drops
X-KDE-PluginInfo-Author=John Kimbler
X-KDE-PluginInfo-Email=www.johnkimbler.com
X-KDE-PluginInfo-License=LGPLv3
