[Desktop Entry]
Name=Fresh Morning
Name[ar]=الصباح الجديد
Name[bg]=Свежа утрин
Name[bn_IN]=সকালের আবেশ
Name[ca]=Matí fresc
Name[cs]=Čerstvé ráno
Name[de]=Morgentau
Name[el]=Φρέσκο πρωινό
Name[eo]=Freŝa mateno
Name[es]=Mañana fresca
Name[et]=Värske hommik
Name[fi]=Aamukaste
Name[fr]=Fraîcheur matinale
Name[fy]=Nije moarne
Name[gl]=Mañá fresca
Name[gu]=તાજી સવાર
Name[hu]=Üde reggel
Name[it]=Prima mattina
Name[ja]=早朝
Name[km]=ព្រលឹម​ស្រស់
Name[ko]=신선한 아침
Name[ku]=Roja Nû
Name[lt]=Šviežias rytas
Name[lv]=Svaigs rīts
Name[mk]=Свежо утро
Name[ml]=ഉണര്‍വ്വാര്‍ന്ന പ്രഭാതം
Name[nds]=De fröhe Morrn
Name[nl]=Vroege ochtend
Name[nn]=Morgondugg
Name[pa]=ਸੱਜਰੀ ਸਵੇਰ
Name[pl]=Świeży poranek
Name[pt]=Manhã Fresca
Name[pt_BR]=Manhã de Orvalho
Name[ro]=Dimineață răcoroasă
Name[ru]=Свежее утро
Name[sl]=Sveže jutro
Name[sr]=Јутарња свежина
Name[sr@latin]=Jutarnja svežina
Name[sv]=Frisk morgon
Name[th]=รุ่งอรุณที่แสนสดใส
Name[tr]=Taze Sabah
Name[uk]=Свіжий ранок
Name[wa]=Froed matén
Name[x-test]=xxFresh Morningxx
Name[zh_CN]=清晨
X-KDE-PluginInfo-Name=Fresh_Morning
X-KDE-PluginInfo-Author=Pablo León-Asuero Moreno
X-KDE-PluginInfo-Email=kapuxino@gmail.com
X-KDE-PluginInfo-License=LGPLv3
