[Desktop Entry]
Name=Leafs Labyrinth
Name[ar]=ورقة المتاهة
Name[bg]=Лабиринт от листа
Name[bn_IN]=পাতায় পাতায়
Name[ca]=Laberint de fulles
Name[cs]=Labyrint listů
Name[de]=Blätterlabyrinth
Name[el]=Λαβύρινθος φύλλων
Name[eo]=Labirinto de folio
Name[es]=Hojas del laberinto
Name[et]=Lehelabürint
Name[fi]=Lehtilabyrintti
Name[fr]=Un labyrinthe sur une feuille
Name[fy]=Blêd labyrint
Name[gl]=Labirinto de follas
Name[gu]=લિફ્સ લેબીરીન્થ
Name[hu]=Levéllabirintus
Name[it]=Labirinto di foglie
Name[ja]=葉の中の迷路
Name[ko]=잎의 미로
Name[ku]=Labîrenta Leafs
Name[lv]=Lapu labirints
Name[mk]=Лавиринтот на листот
Name[ml]=കുഴലനില
Name[nds]=Blöödnett
Name[nl]=Bladerdoolhof
Name[nn]=Lauvlabyrint
Name[pl]=Labirynt liści
Name[pt]=Labirinto de Folhas
Name[pt_BR]=Labirinto da Folha
Name[ro]=Labirintul frunzelor
Name[ru]=Лабиринт листьев
Name[sl]=Labirint na listu
Name[sr]=Листов лавиринт
Name[sr@latin]=Listov lavirint
Name[sv]=Lövlabyrint
Name[th]=ลวดลายบนใบไม้
Name[tr]=Yaprak Labirenti
Name[uk]=Листв’яний лабіринт
Name[wa]=Labirinte di foyes
Name[x-test]=xxLeafs Labyrinthxx
Name[zh_CN]=叶子迷宫
X-KDE-PluginInfo-Name=Leafs_Labyrinth
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-License=LGPLv3
