[Desktop Entry]
Name=Vector Sunset
Name[ar]=موجة الغروب
Name[bg]=Векторен залез
Name[de]=Sonnenuntergang
Name[es]=Puesta de Sol
Name[et]=Vektorloojang
Name[fr]=Coucher de Soleil vectoriel
Name[fy]=Sinneopgong (fektor)
Name[gl]=Solpor vector
Name[gu]=વેક્ટર સૂર્યાસ્ત
Name[hu]=Vektoros naplemente
Name[it]=Tramonto vettoriale
Name[ja]=ベクターグラフィックの日没
Name[km]=វ៉ិចទ័រ​ថ្ងៃ​លិច
Name[ko]=벡터 석양
Name[lt]=Vektorinis saulėlydis
Name[lv]=Vektoru saulriets
Name[mk]=Векторско заоѓање
Name[ml]=വെക്ടര്‍ സൂര്യാസ്തമയം
Name[nds]=Sünnvektor
Name[nn]=Vektorisert solnedgang
Name[pt]=Pôr-do-Sol Vectorial
Name[pt_BR]=Pôr-do-sol vetorial
Name[sl]=Vektorski Sončev zahod
Name[sr]=Векторски сумрак
Name[sr@latin]=Vektorski sumrak
Name[sv]=Vektorsolnedgång
Name[th]=อาทิตย์อัสดง
Name[tr]=Günbatımı
Name[uk]=Векторний захід сонця
Name[wa]=Solea-djus d' royes
Name[x-test]=xxVector Sunsetxx
Name[zh_CN]=日落(矢量)

X-KDE-PluginInfo-Name=Vector_Sunset
X-KDE-PluginInfo-Author=Nuno Pinheiro & Vlad Gerasimov
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org & vladstudio@gmail.com
X-KDE-PluginInfo-License=LGPLv3
