[Desktop Entry]
Name=Finally Summer in Germany
Name[ar]=اخيراً الاجازة في المانيا
Name[bg]=Най-накрая лято в Германия
Name[bn_IN]=জার্মানির গ্রীষ্মের রূপ
Name[ca]=Final d'estiu a Alemanya
Name[de]=Endlich Sommer in Deutschland
Name[el]=Επιτέλους γερμανικό καλοκαίρι
Name[eo]=Finfine somero en Germanujo
Name[es]=Verano final en Alemania
Name[et]=Saksamaal on lõpuks suvi
Name[fi]=Saksan kesä
Name[fr]=Enfin l'été en Allemagne
Name[fy]=Einlik simmer yn dútslân
Name[gl]=Por fin é verao en Alemaña
Name[gu]=આખરે જર્મનીમાં ઉનાળો
Name[hu]=Végre itt a nyár Németországban
Name[it]=Finalmente estate in Germania
Name[ja]=ドイツの初夏
Name[km]=ចុង​រដូច​ក្ដៅ​នៅ​ប្រទេស​អាល្លឺម៉ង់
Name[ko]=독일에 온 여름
Name[ku]=Li Almanyayê Havîna Dawî
Name[lv]=Beidzot Vācijā ir vasara
Name[mk]=Конечно лето во Германија
Name[ml]=ജര്‍മ്മനിയില്‍ വസന്തം
Name[nds]=Oplest Sommer in Düütschland
Name[nl]=Eindelijk zomer in Duitsland
Name[nn]=Endeleg sommar i Tyskland
Name[pa]=ਜਰਮਨੀ ਵਿੱਚ ਅੰਤ ਵਿੱਚ ਗਰਮੀਆਂ
Name[pl]=Wreszcie lato w Niemczech
Name[pt]=Finalmente Verão na Alemanha
Name[pt_BR]=Finalmente é Verão na Alemanha
Name[ro]=În sfîrșit vară în Germania
Name[ru]=Наконец лето в Германии
Name[sl]=Končno pomlad v Nemčiji
Name[sr]=Напокон лето у Немачкој
Name[sr@latin]=Napokon leto u Nemačkoj
Name[sv]=Äntligen sommar i Tyskland
Name[th]=ก่อนสิ้นฤดูร้อนในเยอรมัน
Name[tr]=Nihayet Almanya'da Yaz
Name[uk]=Нарешті літо в Німеччині
Name[wa]=Dierin esté en Almagne
Name[x-test]=xxFinally Summer in Germanyxx
Name[zh_CN]=德国夏日
X-KDE-PluginInfo-Name=Finally_Summer_in_Germany
X-KDE-PluginInfo-Author=Kenneth Wimer
X-KDE-PluginInfo-Email=ken@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
