[Desktop Entry]
Name=Fields of Peace
Name[ar]=مجالات السلام
Name[bg]=Полета на мира
Name[ca]=Camps de pau
Name[cs]=Mírová pole
Name[csb]=Pòla miru
Name[de]=Ruhe in den Feldern
Name[el]=Πεδία της ειρήνης
Name[eo]=Kampoj de paco
Name[es]=Campos de paz
Name[et]=Rahuväljad
Name[fi]=Rauhan kentät
Name[fr]=Champs de paix
Name[fy]=Fjilden fan frede
Name[gl]=Campos de paz
Name[gu]=શાંતિનાં વિસ્તારો
Name[hu]=Békés mezők
Name[it]=Campi di pace
Name[ja]=穏やかな田園
Name[km]=វាល​សន្តិភាព
Name[ko]=평화의 들판
Name[ku]=Qadên Aştiyê
Name[lt]=Taikos laukai
Name[lv]=Miera lauki
Name[mk]=Полиња на мирот
Name[ml]=സമാധാനത്തിന്റെ വിളനിലങ്ങള്‍
Name[nds]=Fredensfeld
Name[nn]=Fredsmarkene
Name[pl]=Spokojne pola
Name[pt]=Campos de Paz
Name[pt_BR]=Campos de Paz
Name[ro]=Cîmpurile păcii
Name[ru]=Поля мира
Name[sl]=Polja miru
Name[sr]=Пољана спокоја
Name[sr@latin]=Poljana spokoja
Name[sv]=Fridfulla fält
Name[th]=ทุ่งหญ้าแห่งสันติ
Name[tr]=Barış Tarlası
Name[uk]=Поля миру
Name[wa]=Tchamps del påye
Name[x-test]=xxFields of Peacexx
Name[zh_CN]=和平的原野
X-KDE-PluginInfo-Name=Fields_of_Peace
X-KDE-PluginInfo-Author=Kenneth Wimer
X-KDE-PluginInfo-Email=ken@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
