[Desktop Entry]
Name=Emotion
Name[ar]=العاطفة
Name[bg]=Емоция
Name[bn_IN]=ভাব
Name[ca]=Emoció
Name[cs]=Nálada
Name[csb]=Emòcëjô
Name[de]=Emotionen
Name[el]=Συναίσθημα
Name[eo]=Emocio
Name[es]=Emoción
Name[et]=Emotsioon
Name[fi]=Tunne
Name[fr]=Émotion
Name[fy]=Emoasjes
Name[gl]=Emoción
Name[gu]=લાગણી
Name[he]=ריגשון
Name[hu]=Érzelem
Name[it]=Emozione
Name[ja]=エモーション
Name[km]=សញ្ញា​អារម្មណ៍
Name[ko]=감정
Name[lt]=Emocija
Name[lv]=Emocijas
Name[mk]=Емоција
Name[ml]=വികാരം
Name[mr]=हावभाव
Name[nds]=Geföhl
Name[nn]=Kjensler
Name[pa]=ਈਮੋਸ਼ਨ
Name[pl]=Emocja
Name[pt]=Emoção
Name[pt_BR]=Emoção
Name[ro]=Emoție
Name[ru]=Эмоция
Name[sl]=Čustvo
Name[sr]=Емоција
Name[sr@latin]=Emocija
Name[sv]=Känsla
Name[th]=อารมณ์พริ้วไหว
Name[tr]=Duygu
Name[uk]=Емоція
Name[wa]=Mouwaedje
Name[x-test]=xxEmotionxx
Name[zh_CN]=感性
X-KDE-PluginInfo-Name=Emotion
X-KDE-PluginInfo-Author=Vlad Gerasimov
X-KDE-PluginInfo-Email=vladstudio@gmail.com
X-KDE-PluginInfo-License=LGPLv3
