[Desktop Entry]
Name=There is Rain on the Table
Name[ar]=هناك مطر على الطاولة
Name[bg]=Дъжд върху масата
Name[ca]=Hi ha pluja a la taula
Name[cs]=Prší na stůl
Name[csb]=To je dészcz na tôflë
Name[de]=Frischer Regen
Name[el]=Βροχή στο τραπέζι
Name[eo]=Pluvo sur la tablo
Name[es]=Hay lluvia en la mesa
Name[et]=Vihmapiisad laual
Name[fi]=Vesisade yllätti pöydän
Name[fr]=Il pleut sur la table
Name[fy]=Der is rijn op de tafel
Name[gl]=Hai chuvia na mesa
Name[gu]=અહીં ટેબલ પર વરસાદ છે
Name[hu]=Esőcseppek az asztalon
Name[it]=C'è pioggia sul tavolo
Name[ja]=テーブルの上の雨
Name[km]=មាន​ដំណក់ទឹក​ភ្លៀង​លើ​តុ
Name[ko]=탁자 위에 오는 비
Name[ku]=Di Masê de Baran
Name[lv]=Lietus uz galda
Name[mk]=Има дожд на масата
Name[ml]=മേശപ്പുറത്തു് മഴ
Name[nds]=Regendrüppels op den Disch
Name[nl]=Het regent op de tafel
Name[nn]=Det er regn på bordet
Name[pa]=ਮੇਜ਼ ਉੱਤੇ ਮੀਂਹ ਦੀਆਂ ਕਣੀਆਂ
Name[pl]=Deszcz na stole
Name[pt]=Está a Chover na Mesa
Name[pt_BR]=Chuva na mesa
Name[ro]=Plouă pe masă
Name[ru]=Дождь на столе
Name[sl]=Na mizi je dež
Name[sr]=Кишница на клупи
Name[sr@latin]=Kišnica na klupi
Name[sv]=Det är regn på bordet
Name[th]=หยาดน้ำฝนบนพื้นโต๊ะ
Name[tr]=Masanın Üzerindeki Yağmur Damlaları
Name[uk]=Дощ на столі
Name[wa]=I plout sol tåve
Name[x-test]=xxThere is Rain on the Tablexx
Name[zh_CN]=雨打浮凳
X-KDE-PluginInfo-Name=There_is_Rain_on_the_Table
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-License=LGPLv3
