[Desktop Entry]
Name=Skeeter Hawk
Name[ar]=الصقار صائد الاطباق
Name[ca]=Libèl·lula
Name[de]=Die Libelle
Name[el]=Λιβελούλη
Name[eo]=Libelo
Name[es]=Halcón de tiro
Name[fi]=Sudenkorento
Name[fr]=Libellule
Name[gu]=સ્કેટર હોક
Name[it]=Zanzara
Name[ja]=トンボ
Name[ko]=스키터 매
Name[ku]=Kermêşê Baz
Name[lv]=Spāre
Name[mk]=Ловот на мушичката
Name[ml]=സ്കീറ്റര്‍ പരുന്തു്
Name[nds]=Speckfreter
Name[nn]=Augestikkar
Name[pt]=Falcão Skeeter
Name[pt_BR]=Libélula
Name[ro]=Șoim
Name[ru]=Стрекоза
Name[sl]=Kačji pastir
Name[sr]=Комар‑соко
Name[sr@latin]=Komar‑soko
Name[sv]=Hökinsekt
Name[th]=แมงปอจับจ้อง
Name[tr]=Yusufçuk
Name[uk]=Ширяючий яструб
Name[x-test]=xxSkeeter Hawkxx
Name[zh_CN]=猎蚊
X-KDE-PluginInfo-Name=Skeeter_Hawk
X-KDE-PluginInfo-Author=Tracy Sprader
X-KDE-PluginInfo-Email=tsprader@gmail.com
X-KDE-PluginInfo-License=LGPLv3
