[Desktop Entry]
Name=Ladybuggin
Name[ar]=السيدة البغيضه 
Name[ca]=Marieta
Name[de]=Marienkäfer
Name[el]=Πασχαλίτσα
Name[eo]=Kokcinelo
Name[et]=Lepatriinu
Name[fi]=Leppäkerttuneito
Name[fr]=Miss Coccinelle
Name[gu]=લેડીબગ
Name[hu]=Katicabogár
Name[it]=Coccinellando
Name[ja]=てんとう虫
Name[km]=អណ្ដើកមាស
Name[ko]=무당벌레
Name[lv]=Mārīte
Name[mk]=Бубамара
Name[nds]=Sünnküken
Name[nn]=Marihøne
Name[pa]=ਭੂੰਡੀ
Name[pl]=Biedronka
Name[pt]=Dama
Name[pt_BR]=Joaninha
Name[ru]=Божья коровка
Name[sl]=Pikapolonica
Name[sr]=Бубамарица
Name[sr@latin]=Bubamarica
Name[sv]=Nyckelpigan
Name[th]=แมลงเต่าทอง
Name[tr]=Uğur Böceği
Name[uk]=Божі корівки
Name[x-test]=xxLadybugginxx
Name[zh_CN]=瓢虫
X-KDE-PluginInfo-Name=Ladybuggin
X-KDE-PluginInfo-Author=Rick Hanley
X-KDE-PluginInfo-Email=rhanley002@aol.com
X-KDE-PluginInfo-License=LGPLv3
