[Desktop Entry]
Name=Red Leaf
Name[ar]=الورقة الحمراء
Name[bg]=Червени листа
Name[ca]=Fulla vermella
Name[cs]=Červený list
Name[de]=Rotes Blatt
Name[el]=Κόκκινο φύλλο
Name[eo]=Ruĝa folio
Name[es]=Hoja roja
Name[et]=Punane leht
Name[fi]=Punainen lehti
Name[fr]=Feuille rouge
Name[fy]=Read blêd
Name[gl]=Folla vermella
Name[gu]=લાલ પાંદડું
Name[hu]=Piros levél
Name[it]=Foglia rossa
Name[ja]=赤い葉
Name[km]=ស្លឹកឈើ​ក្រហម
Name[ko]=붉은 잎
Name[ku]=Pelê Sor
Name[lv]=Sarkanā lapa
Name[mk]=Црвен лист
Name[ml]=ചുവപ്പനില
Name[nds]=Root Blatt
Name[nl]=Rood blad
Name[nn]=Raudt lauv
Name[pa]=ਲਾਲ ਪੱਤਾ
Name[pl]=Czerwony liść
Name[pt]=Folha Vermelha
Name[pt_BR]=Folha vermelha
Name[ro]=Frunză roșie
Name[ru]=Красный лист
Name[sl]=Rdeč list
Name[sr]=Црвени листак
Name[sr@latin]=Crveni listak
Name[sv]=Rött löv
Name[th]=ใบไม้สีแดง
Name[tr]=Kırmızı Yaprak
Name[uk]=Червоний листок
Name[wa]=Rodje foye
Name[x-test]=xxRed Leafxx
Name[zh_CN]=枫叶
X-KDE-PluginInfo-Name=Red_Leaf
X-KDE-PluginInfo-Author=Joseph Connors
X-KDE-PluginInfo-Email=josephconnors@usa.net
X-KDE-PluginInfo-License=LGPLv3
