[Desktop Entry]
Name=Golden Ripples
Name[ar]=الموجة الذهبية
Name[bg]=Златни поточета
Name[ca]=Ones daurades
Name[de]=Kleine goldene Wellen
Name[el]=Χρυσές ζάρες
Name[eo]=Oraj ondetoj
Name[es]=Ondas doradas
Name[et]=Kuldsed säbarad
Name[fi]=Kultaiset vesipisarat
Name[fr]=Ondes dorées
Name[fy]=Gouden rimpels
Name[gl]=Ondulacións douradas
Name[gu]=સોનેરી તરંગો
Name[hu]=Arany hullámok
Name[it]=Increspature dorate
Name[ja]=黄金色の波紋
Name[km]=រលក​មាស
Name[ko]=금빛 잔물결
Name[ku]=Pêlên Zêrîn
Name[lv]=Zelta vilnīši
Name[mk]=Златни бранови
Name[ml]=സ്വര്‍ണ്ണമുകുളങ്ങള്‍
Name[nds]=Gollen Küsels
Name[nl]=Gulden rimpelingen
Name[nn]=Gyldne krusningar
Name[pl]=Złote fale
Name[pt]=Ondas Douradas
Name[pt_BR]=Ondulações Douradas
Name[ro]=Unde aurii
Name[ru]=Золотая зыбь
Name[sl]=Zlati valovi
Name[sr]=Златасто мрешкање
Name[sr@latin]=Zlatasto mreškanje
Name[sv]=Gyllene krusningar
Name[th]=วงกระเพื่อมสีดั่งทอง
Name[tr]=Altın Dalgalar
Name[uk]=Золоті брижі
Name[x-test]=xxGolden Ripplesxx
Name[zh_CN]=金色涟漪
X-KDE-PluginInfo-Name=Golden_Ripples
X-KDE-PluginInfo-Author=Joseph Connors
X-KDE-PluginInfo-Email=josephconnors@usa.net
X-KDE-PluginInfo-License=LGPLv3
