[Desktop Entry]
Name=Colorado Farm
Name[ar]=مزارع كولورادو
Name[bg]=Ферма в Колорадо
Name[bn_IN]=কোলোরাডোর ফার্ম
Name[ca]=Granja de Colorado
Name[cs]=Farma v Coloradu
Name[de]=Colorado-Farm
Name[el]=Φάρμα Κολοράντο
Name[eo]=Bieno en Kolorado
Name[es]=Granja Colorado
Name[et]=Colorado farm
Name[fi]=Maatila Coloradossa
Name[fr]=Ferme du Colorado
Name[fy]=Colorado boerderij
Name[gl]=Granxa de Colorado
Name[gu]=કોલોરાડો ફાર્મ
Name[hu]=Farm Colorádóban
Name[it]=Fattoria del Colorado
Name[ja]=コロラドの農場
Name[km]=វាល​កូឡូរ៉ាដូ
Name[ko]=콜로라도 농장
Name[ku]=Çewliga Kolorado
Name[lt]=Kolorado ferma
Name[lv]=Kolorado ferma
Name[mk]=Фарма во Колорадо
Name[ml]=കൊളറാഡോ പാടം
Name[nds]=Colorado-Hoff
Name[nn]=Gard i Colorado
Name[pl]=Farma w Kolorado
Name[pt]=Quinta do Colorado
Name[pt_BR]=Fazenda do Colorado
Name[ro]=Fermă din Colorado
Name[ru]=Ферма в Колорадо
Name[sl]=Kmetija v Koloradu
Name[sr]=Фарма у Колораду
Name[sr@latin]=Farma u Koloradu
Name[sv]=Lantbruk i Colorado
Name[th]=ฟาร์มแห่งโคโลราโด
Name[tr]=Colorado Çiftliği
Name[uk]=Ферма у Колорадо
Name[wa]=Cinse do Colorado
Name[x-test]=xxColorado Farmxx
Name[zh_CN]=科罗拉多农场
Name[zh_TW]=科羅拉多農場
X-KDE-PluginInfo-Name=Colorado_Farm
X-KDE-PluginInfo-Author=Scott Ingram
X-KDE-PluginInfo-Email=scingram@yahoo.com
X-KDE-PluginInfo-License=LGPLv3
