[Desktop Entry]
Name=Green Concentration
Name[ar]=المجاميع الخضراء
Name[bg]=Зелена концентрация
Name[ca]=Concentració verda
Name[cs]=Zelená koncentrace
Name[de]=Grün in Grün
Name[el]=Πράσινη συγκέντρωση
Name[eo]=Verda koncentriĝo
Name[es]=Concentración verde
Name[et]=Roheline mass
Name[fi]=Vihreää sakkaa
Name[fr]=Haute teneur en vert
Name[fy]=Griene konsentraasje
Name[gl]=Concentración verde
Name[gu]=લીલોછમ વિસ્તાર
Name[hu]=Koncentrálás zöldben
Name[it]=Concentrazione verde
Name[ja]=緑の集積
Name[ko]=녹색 집중
Name[ku]=Kansantrasyona Kesk
Name[lv]=Zaļā koncentrēšanās
Name[mk]=Зелено концентрирано
Name[ml]=ഹരിതസാന്ദ്രത
Name[nds]=Gröönkonzert
Name[nl]=Groene concentratie
Name[nn]=Konsentrert grønt
Name[pl]=Zielona koncentracja
Name[pt]=Concentração Verde
Name[pt_BR]=Concentração Verde
Name[ro]=Concentrație verde
Name[ru]=Зелёная концентрация
Name[sl]=Zelen koncentrat
Name[sr]=Зелени густиш
Name[sr@latin]=Zeleni gustiš
Name[sv]=Grön koncentration
Name[th]=สีเขียวอันน่าดึงดูดใจ
Name[tr]=Yeşil Yoğunlaşma
Name[uk]=Концентрація зеленого
Name[x-test]=xxGreen Concentrationxx
Name[zh_CN]=浓绿
X-KDE-PluginInfo-Name=Green_Concentration
X-KDE-PluginInfo-Author=Joseph Connors
X-KDE-PluginInfo-Email=josephconnors@usa.net
X-KDE-PluginInfo-License=LGPLv3
